<h1>Bienvenidos al Chat de Remes</h1>

<div>
    <input id="chatBox" placeholder="Escribe un mensaje">
</div>

<div>
    <p id="messageLog"/>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/Dao/DB/chat.service.js"></script>